<div class="container mt-5">
  <h2>Lista de Turnos Futuros</h2>
  <div *ngIf="loading" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Cargando...</span>
  </div>
  
  <!-- Mensaje cuando no hay turnos disponibles -->
  <div *ngIf="!loading && appointments.length === 0" class="alert alert-warning">
    No hay turnos disponibles actualmente.
  </div>
  
  <table class="table mt-4" *ngIf="!loading && appointments.length > 0">
    <thead>
      <tr>
        <th scope="col">Mascota</th>
        <th scope="col">Profesional</th>
        <th scope="col">Servicio</th>
        <th scope="col">Fecha y Hora</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td>{{ appointment.Pet?.name }}</td>
        <td>{{ appointment.Professional?.firstname }} {{ appointment.professional?.lastname }}</td>
        <td>{{ appointment.Facility?.name }}</td>
        <td>{{ appointment.dateTime | date: 'short' }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="cancelAppointment(appointment.id)">
            Cancelar
          </button>
          <button class="btn btn-success btn-sm" (click)="markAsDone(appointment.id)" [routerLink]="'/ViewPet/' + appointment.Pet?.id">
            Marcar como Realizado
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
