.container {
    margin-top: 30px;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #f4f4f4;
  }
  
  canvas {
    margin-top: 20px;
  }

  .title{
    font-family: 'inter',sans-serif;
  }