<div class="container mt-1">
<div class="row mt-1">
    <div class="card">
      <h5 class="card-title">{{ clientData.firstname }} {{ clientData.lastname }}</h5>
      <h6 class="card-subtitle">DNI: {{ clientData.dni }}</h6>
      <div class="card-body">
      <p class="card-text">
        <strong>Dirección:</strong> {{ clientData.address }}<br>
        <strong>Teléfono:</strong> {{ clientData.phone }}<br>
        <strong>Email:</strong> {{ clientData.email }}<br>
        <strong>Fecha de Nacimiento:</strong> {{ clientData.birthDate | date:'dd/MM/yyyy' }}<br>
      </p>
    </div>
    <div class="row mt-2 text-center">
        <div class="col lg-6">  
            <button routerLink="/editClient/{{clientData.id}}" type="button" class="btn">Editar</button>
        </div>
        <div class="col lg-6">             
            <button (click)="deleteClient(clientData.id!)" type="button" class="btn-del">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>