<div class="container">
  <h2>{{ operacion }} Servicio</h2>
  
  <form [formGroup]="formFacility" (ngSubmit)="addFacility()">
      <label for="name">Nombre:</label>
      <input type="text" id="name" formControlName="name" class="form-control" placeholder="Ingrese el nombre" />
      <div *ngIf="formFacility.get('name')?.invalid && (formFacility.get('name')?.touched || formFacility.get('name')?.dirty)" class="text-danger">
        El nombre es requerido.
      </div>

      <label for="description">Descripción:</label>
      <input type="text" id="description" formControlName="description" class="form-control" placeholder="Ingrese la descripción" style="height: 100px;"/>      <div *ngIf="formFacility.get('description')?.invalid && (formFacility.get('description')?.touched || formFacility.get('description')?.dirty)" class="text-danger">
        La descripción es requerida.
      </div>

      <label for="price">Precio:</label>
      <input type="number" id="price" formControlName="price" class="form-control" placeholder="Ingrese el precio" />
      <div *ngIf="formFacility.get('price')?.invalid && (formFacility.get('price')?.touched || formFacility.get('price')?.dirty)" class="text-danger">
        El precio es requerido.
      </div>

    <button type="submit" class="btn btn-primary" [disabled]="loading">
      <span *ngIf="loading">Cargando...</span>
      <span *ngIf="!loading">{{ operacion }} Servicio</span>
    </button>
    <a routerLink="/listFacilities" class="btn btn-secondary">Cancelar</a>
  </form>
</div>