<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>Nueva Mascota</b></h4>
            </div>
            <div class="col-sm-6">
              <a href="#" routerLink="/Home" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
                 Atras</a>
            </div>
          </div>
        </div>
        <form #petForm="ngForm">
          <div class="table-content">
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="Name" class="p-t-b-10">Name<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="Name" required maxlength="255"
                  [(ngModel)]="addPetForm.Name" name="Name" #Name="ngModel">
                <div *ngIf="Name.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!Name.errors?.['required']">
                    Name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="Age" class="p-t-b-10">Age<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="Age" required maxlength="255"
                  [(ngModel)]="addPetForm.Age" name="Age" #Age="ngModel">
                <div *ngIf="Age.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!Age.errors?.['required']">
                    Age is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Tipo<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="Type" required maxlength="255"
                  [(ngModel)]="addPetForm.Type" name="Type" #Type="ngModel">
                <div *ngIf="Type.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!Type.errors?.['required']">
                    Tipo is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Raza<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <textarea class="form-control" id="Breed" required [(ngModel)]="addPetForm.Breed" name="Breed"
                  #Breed="ngModel">></textarea>
                <div *ngIf="Breed.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!Breed.errors?.['required']">
                    Raza is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Peso<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="Weight" required maxlength="10"
                  [(ngModel)]="addPetForm.Weight" name="Weight" #Weight="ngModel">
                <div *ngIf="Weight.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!Weight.errors?.['required']">
                    Peso is required
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="table-footer">
            <button class="btn btn-success" (click)="AddPet(petForm.form.valid)">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>