<div class="container mt-4">
  <div class="row">
    <!-- Dashboard Menu -->
    <div class="col-md-3">
      <nav class="list-group">
        <a routerLink="personal-info" routerLinkActive="active"
           class="list-group-item list-group-item-action">
          <img src="assets/personal-info.png" alt="Información Personal" class="icon">
          Información Personal
        </a>
        <a routerLink="client-pets" routerLinkActive="active"
           class="list-group-item list-group-item-action">
          <img src="assets/petpaw.png" alt="Mascotas" class="icon">
          Mascotas
        </a>
        <a routerLink="client-appointments" routerLinkActive="active"
           class="list-group-item list-group-item-action">
          <img src="assets/calendar.png" alt="Turnos" class="icon">
          Turnos
        </a>
        <a routerLink="client-orders" routerLinkActive="active"
           class="list-group-item list-group-item-action">
          <img src="assets/order.png" alt="Pedidos" class="icon">
          Pedidos
        </a>
        <a routerLink="client-reports" routerLinkActive="active"
           class="list-group-item list-group-item-action">
          <img src="assets/report.png" alt="Reportes" class="icon">
          Reportes
        </a>
        <a routerLink="account-settings" routerLinkActive="active"
           class="list-group-item list-group-item-action">
          <img src="assets/configuration.png" alt="Ajustes" class="icon">
          Ajustes
        </a>
      </nav>
    </div>

    <!-- Dashboard Content -->
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>