* {
  box-sizing: border-box;
}

.header {
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.mb-0{
  font-family: 'inter', sans-serif;
  font-size: 18px;
  color: #000000;
  font-style: bold;
  font-weight: 600;
}

.title{
  font-family: 'inter', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 10px;
}



.client-info {
  display: flex;
  flex-direction: column;
}

.pf{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info {
  
  font-family: 'inter', sans-serif;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  padding: 6px;
  width: 360px;

}

.pf .info {
  
  margin-top: 0; 
}

.btn{
  margin-top: 10px;
  background-color:#7666cA;
  color: white;
  font-family: 'inter', sans-serif;
  font-size: 14px;
  cursor: pointer;

}

.btn:hover{
  transition: 2s ease;
  background-color: #393939;
}

.alert-cont {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert {
  font-size: 14px;
  line-height: 22px;
  font-family: 'Inter', sans-serif;
  color: #721c24;
  text-align: center;
}


@media (max-width: 768px) {
  .header {
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center; 
  }

  .mb-0 {
    font-size: 18px;
    text-align: center; 
  }

  .title {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center; 
  }

  .client-info {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 0 10px;
  }

  .pf {
    flex-direction: column; 
    width: 100%; 
  }

  .info {
    width: 100%;
    margin-bottom: 10px; 
  }

  .btn {
    width: 100%; 
    font-size: 16px; 
    padding: 10px; 
  }

  .alert-cont {
    padding: 10px;
    text-align: center; 
  }

  .alert {
    font-size: 14px;
    text-align: center; 
  }
}