
<div class="header">
  <h2 class="title">Compra en nuestra</h2>
  <h1 class="title">Tienda para Mascotas</h1>
  <p class="subtitle">Amamos a tu mascota tanto como vos :)</p>
</div>


<div class="container">
  <ul>
    <li *ngFor="let item of paginatedProducts">
      <a class="card" (click)="addToCart(item); $event.preventDefault()">
        <div class="card_overlay">
          <img src="..\assets\top-view-pet-accessories-yllow.jpg" class="card_img">
          <button class="btn btn-primary add-to-cart-btn" (click)="addToCart(item); $event.stopPropagation()">Agregar al carrito</button>
        </div>
        <div class="card_header">
          <span class="card_category">{{item.category}}</span>
          <h3 class="card_title">{{item.name}}</h3>
          <span class="card_description">{{item.description}}</span>
          <span class="card_price">{{item.price | currency:'ARS'}}</span>
        </div>
      </a>
    </li>
  </ul>
</div>

<mat-paginator [length]="products.length" [pageSize]="6" showFirstLastButtons aria-label="Select page" (page)="handlePageEvent($event)"></mat-paginator>


<!--
<div class="container mt-5">
  <div class="row">
    <div *ngFor="let product of paginatedProducts" class="col-md-4 mb-4">
      <div class="card h-100">
        <img [src]="product.imageUrl" alt="{{ product.name }}" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text"><strong>Precio:</strong> {{ product.price | currency }}</p>
          <p class="card-text"><small class="text-muted">Categoría: {{ product.category }}</small></p>
        </div>
        <div class="card-footer text-center">
          <button (click)="addToCart(product)" class="btn btn-primary" aria-label="Agregar {{ product.name }} al carrito">
            Agregar al carrito
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
-->