.observations-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.observations-table th,
.observations-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.observations-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.observations-table tr:hover {
  background-color: #f1f1f1;
}

.vaccines-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.vaccines-table th,
.vaccines-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.vaccines-table th {
  background-color: #e9ecef;
  font-weight: bold;
}

.vaccines-table tr:hover {
  background-color: #f8f9fa;
}

.vaccines-table td {
  color: #495057;
}

.vaccines-table, .observations-table {
  width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
  border-collapse: collapse; /* Opcional: para eliminar espacios entre celdas */
}

.vaccines-table th, .vaccines-table td,
.observations-table th, .observations-table td {
  border: 1px solid #ddd; /* Agrega borde a las celdas */
  padding: 8px; /* Espaciado interno en las celdas */
  text-align: left; /* Alineación del texto */
}

.vaccines-table th, .observations-table th {
  background-color: #f2f2f2; /* Color de fondo para los encabezados */
  font-weight: bold; /* Hace que el texto del encabezado sea más grueso */
}

.fixed-size {
  width: 100%;
  /* O un ancho fijo, como 600px */
  max-width: 600px;
  /* Puedes ajustar este valor */
  margin: auto;
  /* Centra el contenedor */
}

.vaccines-table,
.observations-table {
  width: 100%;
  border-collapse: collapse;
  /* Para un aspecto más limpio */
}

.vaccines-table th,
.observations-table th,
.vaccines-table td,
.observations-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  /* Alineación a la izquierda para mejor legibilidad */
}

.mat-paginator {
  margin-top: 16px;
  /* Espaciado entre la tabla y el paginador */
}

.observation-item {
  position: relative;
  /* Para permitir el posicionamiento absoluto del enlace */
  display: flex;
  /* Usar flexbox para alinear el texto y el botón */
  justify-content: space-between;
  /* Espacio entre el texto y el enlace */
  align-items: center;
  /* Centrar verticalmente los elementos */
  padding: 8px;
  /* Espaciado interno */
}

.show-observation {
  position: absolute;
  /* Posicionamiento absoluto */
  right: 10px;
  /* Ajusta el espaciado a la derecha */
  top: 50%;
  /* Centrar verticalmente respecto al contenedor */
  transform: translateY(-50%);
  /* Ajuste para centrar exactamente */
  display: none;
  /* Ocultar el enlace por defecto */
}

/* Mostrar el enlace solo al pasar el mouse sobre el contenedor de la observación */
.observation-item:hover .show-observation {
  display: inline-block;
  /* Muestra el enlace al pasar el mouse */
}