<div *ngIf="!medicalHistory" class="no-mh fixed-size">
  <p>No se han encontrado Datos</p>
</div>

<div *ngIf="medicalHistory" class="fixed-size">
  <b>Historia Clínica</b>

  <!-- Mostrar vacunas solo si hay -->
  <div *ngIf="medicalHistory?.vaccines?.length > 0">
    <table class="vaccines-table">
      <thead>
        <tr>
          <th>Vacunas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vaccine of medicalHistory.vaccines">
          <td>{{ vaccine }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Mostrar observaciones solo si hay -->
  <div *ngIf="medicalHistory?.observations?.length > 0">
    <div class="observations-container">
      <table class="observations-table">
        <thead>
          <tr>
            <th>Observación</th>
            <th>Fecha</th>
            <th>Profesional</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let observation of paginatedObservations">
            <td>
              <div class="observation-item">
                <span>{{ observation?.observation?.length > 50 ? (observation.observation | slice:0:50) + '...' :
                  observation.description }}</span>
                <a class="show-observation"><i class='fas fa-eye'></i></a>
              </div>
            </td>
            <td>{{ observation.createdAt || 'Fecha no disponible' }}</td> <!-- Cambié a 'createdAt' -->
            <td>{{ observation.professional || 'Profesional no disponible' }}</td>
            <!-- Asegúrate de que esta propiedad sea correcta -->
          </tr>
        </tbody>
      </table>
    </div>

    <div class="paginator-container">
      <mat-paginator [length]="totalObservations" [pageSize]="pageSize" (page)="onPageChange($event)"
        aria-label="paginador"></mat-paginator>
    </div>
  </div>

  <div *ngIf="medicalHistory?.observations?.length === 0" class="no-observations">
    <p>No hay observaciones registradas.</p>
  </div>
</div>