<app-progress-bar *ngIf="loading"></app-progress-bar>
<div class="container">
<div *ngIf="!loading" class="row mt-1">
    <div class="col-lg-4 offset-lg-4">
            <h2>{{operacion}} Cliente</h2>

            <form [formGroup]="formClient" (ngSubmit)="addClient()">

              <label for="dni">DNI:</label>
              <input formControlName="dni" type="text" class="form-control" placeholder="Ingrese DNI">
              <span *ngIf="formClient.get('dni')?.hasError('required') && formClient.get('dni')?.touched" >El campo DNI es <strong>requerido</strong></span>

              <label for="firstname">Nombre:</label>
              <input formControlName="firstname" type="text" class="form-control mt-2" placeholder="Ingrese nombre">
              <span *ngIf="formClient.get('firstname')?.hasError('required') && formClient.get('firstname')?.touched">El campo Nombre es <strong>requerido</strong></span>

              <label for="lastname">Apellido:</label>
              <input formControlName="lastname" type="text" class="form-control mt-2" placeholder="Ingrese Apellido">
              <span *ngIf="formClient.get('lastname')?.hasError('required') && formClient.get('lastname')?.touched">El campo Apellido es <strong>requerido</strong></span>

              <label for="adress">Dirección:</label>
              <input formControlName="address" type="text" class="form-control mt-2" placeholder="Ingrese Dirección">
              <span *ngIf="formClient.get('address')?.hasError('required') && formClient.get('address')?.touched">El campo Dirección es <strong>requerido</strong></span>

              <label for="phone">Teléfono:</label>
              <input formControlName="phone" type="text" class="form-control mt-2" placeholder="Ingrese nro de Teléfono">
              <span *ngIf="formClient.get('phone')?.hasError('required') && formClient.get('phone')?.touched">El campo nro de Teléfono es <strong>requerido</strong></span>

              <label for="email">Correo:</label>
              <input formControlName="email" type="text" class="form-control mt-2" placeholder="Ingrese Email">
              <span *ngIf="formClient.get('email')?.hasError('required') && formClient.get('email')?.touched">El campo Email es <strong>requerido</strong></span>

              <label for="birthDate">Fecha de Nacimiento:</label>
              <input formControlName="birthDate" type="date" class="form-control mt-2" placeholder="Ingrese Fecha de Nacimiento">
              <span *ngIf="formClient.get('birthDate')?.hasError('required') && formClient.get('birthDate')?.touched">El campo Fecha de Naciemiento es <strong>requerido</strong></span>

              <div class="row mt-2 text-center">
                <div class="col-lg-6">  
                    <button [disabled]="formClient.invalid" type="submit" class="btn btn-primary">Aceptar</button>
                </div>
                <div class="col-lg-6">             
                    <button type="button" class="btn btn-secondary" routerLink="/listClients">Volver</button>
                </div>
              </div>
            </form>
          </div>
    </div>
</div>


