<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
    <div class="title">
        <h4>Listado de Productos</h4>
        <button type="button" class="btn btn-primary" routerLink="/addProduct">Añadir Nuevo Producto</button>
    </div>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Categoria</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listProducts" class="table-active">
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <td>{{item.stock}}</td>
        <td>{{item.category}}</td>
        <td>
            <button routerLink="/editProduct/{{item.id}}" type="button" class="btn btn-info btn-sm" >Editar</button>
            <button (click)="deleteProduct(item.id!)" type="button" class="btn btn-secondary btn-sm ms-2">Eliminar</button>
            <button routerLink="/detailProduct{{item.id}}" type="button" class="btn btn-outline-info btn-sm" >Detalle</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 *ngIf="listProducts.length==0">No hay productos para mostrar</h5>
</div> 
