<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
    <div class="title">
        <h4>Listado de Productos</h4>
        <button type="button" class="btn btn-primary" routerLink="/addProduct">Añadir Nuevo Producto</button>
    </div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Categoria</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listProducts" class="table-active">
        <td>{{item.name}}
          <span class="actions">
            <button routerLink="/editProduct/{{item.id}}" type="button" class="btn btn-info btn-sm">
                <i class="fas fa-edit"></i>
            </button>
            <button (click)="deleteProduct(item.id!)" type="button" class="btn btn-secondary btn-sm ms-2">
                <i class="fas fa-trash"></i>
            </button>
        </span>
        </td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <td>{{item.stock}}</td>
        <td>{{item.category}}</td>
      </tr>
    </tbody>
  </table>
  <h5 *ngIf="listProducts.length==0">No hay productos para mostrar</h5>
</div> 

<!--no puedo poner el paginador por la barra de carga-->