.container-xl {
    padding: 10px;
}

.btn 
{
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    background-color: #3F3B57;
    color: #f0f0f0;
}

.btn i{
    color: #f0f0f0;
    text-decoration: none;
    text-emphasis-color: #e0e0e0;
}

.btn:hover {
    background-color: #5D5D5D;
}

.card-container {
    display: flex;
    justify-content: flex-start; /* Cambiado a flex-start para alinear a la izquierda */
    margin-top: 20px;
    overflow: hidden;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
    font-family: 'inter', sans-serif;
    overflow: hidden;
    width:100%;
    max-width: 500px; 
    overflow: hidden;   
}


.card-title {
    font-size: 20px;
    color: #3F3B57;
    margin-bottom: 10px;
    font-weight: 700;
    
}

.card-text {
    margin: 0 0 10px;
    color: #777;
}

.no-pets {
    font-size: 16px;
    color: #5D5D5D;
    text-align: center;
    margin-top: 20px;
}





@media (min-width: 768px) {
    .container-xl {
        padding: 20px;
    }

    .header {
        padding: 20px;
    }

    .header h1 {
        font-size: 48px;
    }

    .header a {
        font-size: 16px;
    }

    .card {
        max-width: 350px;
        padding: 20px;
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        font-size: 24px;
    }

    .card-text {
        margin: 0 0 20px;
    }

    .no-pets {
        font-size: 18px;
    }
}

.medical-history{
    margin-left: 10%;
}