<div class="header">
  <h1 class="Professionals">Editar Profesional</h1>
  <a>Actualiza o borra los datos del profesional</a>
</div>

<div class="editup-container">
  <div class="right-container">
      <form #professionalForm="ngForm" (ngSubmit)="onSubmit(professionalForm)">
          <div class="set">
              <div class="professionals-dni">
                  <label for="professionals-dni">DNI</label>
                  <input id="professionals-dni" type="text" value="{{ editProfessionalForm.dni }}" required maxlength="255" [(ngModel)]="editProfessionalForm.dni" name="dni" #dni="ngModel">
                  <div *ngIf="dni.errors && isSubmitted" class="alert alert-danger validationError">
                      <div [hidden]="!dni.errors?.['required']">
                          El DNI es requerido
                      </div>
                  </div>
              </div>
          </div>

          <div class="set">
              <div class="professionals-lastname">
                  <label for="professionals-lastname">Apellido</label>
                  <input id="professionals-lastname" type="text" value="{{ editProfessionalForm.lastname }}" required maxlength="255" [(ngModel)]="editProfessionalForm.lastname" name="lastname" #lastname="ngModel">
                  <div *ngIf="lastname.errors && isSubmitted" class="alert alert-danger validationError">
                      <div [hidden]="!lastname.errors?.['required']">
                          El apellido es requerido
                      </div>
                  </div>
              </div>
          </div>

          <div class="set">
              <div class="professionals-firstname">
                  <label for="professionals-firstname">Nombre</label>
                  <input id="professionals-firstname" type="text" value="{{editProfessionalForm.firstname}}" required maxlength="255" [(ngModel)]="editProfessionalForm.firstname" name="firstname" #firstname="ngModel">
                  <div *ngIf="firstname.errors && isSubmitted" class="alert alert-danger validationError">
                      <div [hidden]="!firstname.errors?.['required']">
                          El nombre es requerido
                      </div>
                  </div>
              </div>
          </div>

          <div class="set">
              <div class="professionals-address">
                  <label for="professionals-address">Dirección</label>
                  <input id="professionals-address" type="text" value="{{editProfessionalForm.address}}" required maxlength="255" [(ngModel)]="editProfessionalForm.address" name="address" #address="ngModel">
                  <div *ngIf="address.errors && isSubmitted" class="alert alert-danger validationError">
                      <div [hidden]="!address.errors?.['required']">
                          La dirección es requerida
                      </div>
                  </div>
              </div>
          </div>

          <div class="set">
              <div class="professionals-phone">
                  <label for="professionals-phone">Número Telefónico</label>
                  <input id="professionals-phone" type="text" value="{{editProfessionalForm.phone}}" required maxlength="15" [(ngModel)]="editProfessionalForm.phone" name="phone" #phone="ngModel">
                  <div *ngIf="phone.errors && isSubmitted" class="alert alert-danger validationError">
                      <div [hidden]="!phone.errors?.['required']">
                          El número telefónico es requerido
                      </div>
                  </div>
              </div>
          </div>

          <div class="set">
              <div class="professionals-email">
                  <label for="professionals-email">Correo Electrónico</label>
                  <input id="professionals-email" type="email" value="{{editProfessionalForm.email}}" required maxlength="255" [(ngModel)]="editProfessionalForm.email" name="email" #email="ngModel">
                  <div *ngIf="email.errors && isSubmitted" class="alert alert-danger validationError">
                      <div [hidden]="!email.errors?.['required']">
                          El correo electrónico es requerido
                      </div>
                      <div [hidden]="!email.errors?.['email']">
                          Debe ingresar un correo electrónico válido
                      </div>
                  </div>
              </div>
          </div>

          <div class="set">
              <div class="professionals-birthdate">
                  <label for="professionals-birthdate">Fecha de Nacimiento</label>
                  <input id="professionals-birthdate" type="date" value="{{editProfessionalForm.birthDate}}" required [(ngModel)]="editProfessionalForm.birthDate" name="birthDate" #birthDate="ngModel">
                  <div *ngIf="birthDate.errors && isSubmitted" class="alert alert-danger validationError">
                      <div [hidden]="!birthDate.errors?.['required']">
                          La fecha de nacimiento es requerida
                      </div>
                  </div>
              </div>
          </div>

          <a href="#" *ngIf="editProfessionalForm.id" [routerLink]="['/ViewProfessional', editProfessionalForm.id]" class="btn btn-success back">
              <i class="fas fa-arrow-circle-left"></i> Atras
          </a>
          <button id="Enviar" class="btn btn-primary" type="submit"><i class='fas fa-arrow-circle-up'></i>Enviar</button>
      </form>

      <button id="Eliminar" class="btn btn-danger" (click)="confirmDelete()"><i class='fas fa-trash-alt'></i>Eliminar</button>
  </div>
</div>
