<div class="admin-menu-container">
    <h3>Panel de Administración</h3>
    <div class="list-group">
      <a routerLink="/listClients" class="list-group-item list-group-item-action">
        <i class="bi bi-person-fill"></i> Clientes
      </a>
      <a routerLink="/viewAllProfessionals" class="list-group-item list-group-item-action">
        <i class="bi bi-box-seam"></i> Profesionales
      </a>
      <a routerLink="/ViewAllPet" class="list-group-item list-group-item-action">
        <i class="bi bi-receipt"></i> Mascotas
      </a>
      <a routerLink="/listProducts" class="list-group-item list-group-item-action">
        <i class="bi bi-bar-chart-line"></i> Productos
      </a>
      <a routerLink="/listFacilities" class="list-group-item list-group-item-action">
        <i class="bi bi-bar-chart-line"></i> Servicios
      </a>
      <a routerLink="/listAllAppointments" class="list-group-item list-group-item-action">
        <i class="bi bi-bar-chart-line"></i> Turnos
      </a>
    </div>
  </div>
  
