<!--<div>
  <h1>Gestión de Vacunas</h1>

  <h2>Añadir Vacuna</h2>
  <button (click)="addVaccine()">Añadir</button>

  <h2>Lista de Vacunas</h2>
  <ul>
    <li *ngFor="let vaccine of vaccines">
      {{ vaccine.name }}
      <button (click)="editVaccine(vaccine)">Editar</button>
      <button (click)="deleteVaccine(vaccine.id)">Eliminar</button>
    </li>
  </ul>

<div *ngIf="selectedVaccine">
  <h2>Editar Vacuna</h2>
  <input [(ngModel)]="selectedVaccine.name" placeholder="Nombre de la vacuna" />
  <button (click)="updateVaccine()">Actualizar</button>
</div>
</div>-->


<div class="container">
<div class = "title">
  <h4>Gestión de Vacunas</h4>
</div>
<div class="container-">
  <input [(ngModel)]="newVaccine.name" placeholder="Nombre de la vacuna" />
  <button type="button" class="btn btn-info" (click)="addVaccine()">Añadir nueva vacuna</button>
  <div *ngIf="selectedVaccine">
    <h2>Editar Vacuna</h2>
    <input [(ngModel)]="selectedVaccine.name" placeholder="Nombre de la vacuna" />
    <button type="button" class="btn btn-info" (click)="updateVaccine()">Actualizar</button>
  </div>
</div>
<table class ="table ">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vaccine of vaccines">
      <td>{{ vaccine.name }}
        <span class="actions">
          <button (click)="editVaccine(vaccine)" type="button" class="btn btn-info btn-sm">
            <i class="fas fa-edit"></i>
          </button>
          <button (click)="deleteVaccine(vaccine.id)" type="button" class="btn btn-secondary btn-sm ms-2">
            <i class="fas fa-trash"></i>
          </button>
        </span>
      </td>
    </tr>
  </tbody>
</table>
<h5 *ngIf="vaccines.length==0">No hay vacunas para mostrar</h5>


</div>