<div class="container mt-5">
    <h2>Lista de Turnos</h2>
    <!--<div *ngIf="loading" class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>-->
    
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">Mascota</th>
          <th scope="col">Profesional</th>
          <th scope="col">Servicio</th>
          <th scope="col">Fecha y Hora</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of paginatedAppointments">
          <td>{{ appointment.Pet?.name }}</td>
          <td>{{ appointment.Professional?.firstname }} {{ appointment.professional?.lastname }}</td>
          <td>{{ appointment.Facility?.name }}</td>
          <td>{{ appointment.dateTime | date: 'short' }}</td>
          <td>
            {{appointment.state}}
          </td>
        </tr>
      </tbody>
    </table>

    <mat-paginator [length]="appointments.length" [pageSize]="7" showFirstLastButtons aria-label="Select page" (page)="handlePageEvent($event)">
    </mat-paginator>

    <h5 *ngIf="appointments.length == 0" class="no-data">No hay turnos para mostrar</h5>
  </div>
  