<!-- edit-observation-dialog.component.html -->
<h2 mat-dialog-title>Editar Observación</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
<mat-form-field>
  <textarea matInput formControlName="description" placeholder="Observación"></textarea>
</mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" formControlName="createdAt" placeholder="Fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="professional" placeholder="Profesional">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-button type="submit" [disabled]="!form.valid">Guardar</button>
  </mat-dialog-actions>
</form>