<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
  <div class="title">
    <h4>Listado de Clientes</h4>
    <button type="button" class="btn btn-primary" routerLink="/addClient">Añadir nuevo cliente</button>
  </div>

  <!-- Campo de búsqueda -->
  <div class="mb-3">
    <input
      type="text"
      placeholder="Buscar cliente por nombre o apellido"
      [(ngModel)]="searchTerm"
      (input)="filterClients()"
      class="form-control mb-3"
    />
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">DNI</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Dirección</th>
        <th scope="col">nro de Teléfono</th>
        <th scope="col">Email</th>
        <th scope="col">Fecha de Nacimiento</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <!-- Usa filteredClients en lugar de listClients -->
      <tr *ngFor="let item of filteredClients" class="table-active">
        <td>{{item.dni}}</td>
        <td>{{item.firstname}}</td>
        <td>{{item.lastname}}</td>
        <td>{{item.address}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.email}}</td>
        <td>{{item.birthDate}}</td>
        <td>
          <button routerLink="/editClient/{{item.id}}" type="button" class="btn btn-info btn-sm">Editar</button>
          <button (click)="deleteClient(item.id!)" type="button" class="btn btn-secondary btn-sm ms-2">Eliminar</button>
          <button routerLink="/detailClient/{{item.id}}" type="button" class="btn btn-outline-info btn-sm">Detalle</button>
        </td>
        <td>
          <button routerLink="/listPets/{{item.id}}" type="button" class="btn btn-primary btn-sm ms-2">Ver Mascotas</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 *ngIf="filteredClients.length == 0">No hay clientes para mostrar</h5>
</div>
