
    <h2 class="title">Seleccionar Vacuna</h2>
    <div>
      <mat-list>
        <mat-list-item *ngFor="let vaccine of vaccines">
          <mat-checkbox class="items" [(ngModel)]="selectedVaccines[vaccine.id]" [value]="vaccine.id">
            {{ vaccine.name }}
          </mat-checkbox>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="dialog-actions">
      <button class="btn" (click)="linkVaccine()">Vincular Vacuna</button>
      <button class="btn-cancel" (click)="dialogRef.close()">Cancelar</button>
    </div>
