h2{
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

.items{
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    font-family: 'inter', sans-serif;
}

.dialog-actions{
    padding:10px;
    justify-content: space-between;
    color: white;
}

.btn, .btn-cancel{
    border-radius: 11px;
    padding:5px;
}

.btn{
    
    background-color: #3f51b5;
    margin-right: 10px;
}

.btn-cancel{
    background-color: #f44336;
}