<div class="header">
  <h1 class="Pets">Mascotas</h1>
  <p>Lista de todas las mascotas</p>
</div>
<div class="actions">
  <a href="#" [routerLink]="['/AddPet']" class="btn btn-primary"><i class='fas fa-plus'></i> Agregar Mascota</a>
</div>
<div class="container-xl">
  <div class="card-container">
    <div class="card" *ngFor="let pet of petList" (click)="viewPet(pet.id)">
      <div class="card-body">
        <h5 class="card-title">{{ pet.name }}</h5>
        <p class="card-text"><strong>Edad:</strong> {{ pet.age }}</p>
        <p class="card-text"><strong>Tipo:</strong> {{ pet.type }}</p>
        <p class="card-text"><strong>Raza:</strong> {{ pet.breed }}</p>
        <p class="card-text"><strong>Peso:</strong> {{ pet.weight }} kg </p>
        <div class="actions">
          <a href="#" [routerLink]="['/ViewPet/', pet.id]" class="btn btn-primary"><i class='fas fa-eye'></i> Ver</a>
        </div>
      </div>
    </div>
    <div *ngIf="petList.length == 0" class="no-pets">No se han encontrado Mascotas</div>
  </div>
</div>