<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h4><b>Nuevo Profesional</b></h4>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" routerLink="/Home" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i> Atras</a>
                    </div>
                </div>
            </div>
            <form #professionalForm="ngForm">
                <div class="table-content">
                    <!-- Campo dni -->
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="dni" class="p-t-b-10">dni<span class="requiredStar">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="dni" required maxlength="20" [(ngModel)]="addProfessionalForm.dni" name="dni" #dni="ngModel">
                            <div *ngIf="dni.errors && isSubmitted" class="alert alert-danger validationError">
                                <div [hidden]="!dni.errors?.['required']">
                                    El Dni es obligatorio
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Campo Lastname -->
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="lastname" class="p-t-b-10">Apellido<span class="requiredStar">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="lastname" required maxlength="255" [(ngModel)]="addProfessionalForm.lastname" name="lastname" #lastname="ngModel">
                            <div *ngIf="lastname.errors && isSubmitted" class="alert alert-danger validationError">
                                <div [hidden]="!lastname.errors?.['required']">
                                    El apellido es obligatorio
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Campo firstName -->
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="firstname" class="p-t-b-10">Nombre<span class="requiredStar">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="firstname" required maxlength="255" [(ngModel)]="addProfessionalForm.firstname" name="firstname" #firstname="ngModel">
                            <div *ngIf="firstname.errors && isSubmitted" class="alert alert-danger validationError">
                                <div [hidden]="!firstname.errors?.['required']">
                                    El nombre es obligatorio
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Campo Direccion -->
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="address" class="p-t-b-10">Dirección<span class="requiredStar">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="address" required [(ngModel)]="addProfessionalForm.address" name="address" #address="ngModel"></textarea>
                            <div *ngIf="address.errors && isSubmitted" class="alert alert-danger validationError">
                                <div [hidden]="!address.errors?.['required']">
                                    La dirección es obligatoria
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Campo Numero Telefónico -->
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="phone" class="p-t-b-10">Número telefónico (Todo junto)<span class="requiredStar">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="tel" class="form-control" id="phone" required maxlength="20" [(ngModel)]="addProfessionalForm.phone" name="phone" #phone="ngModel">
                            <div *ngIf="phone.errors && isSubmitted" class="alert alert-danger validationError">
                                <div [hidden]="!phone.errors?.['required']">
                                    El número telefónico es obligatorio
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Campo eMail -->
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="email" class="p-t-b-10">Correo electrónico<span class="requiredStar">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="email" required maxlength="255" [(ngModel)]="addProfessionalForm.email" name="email" #email="ngModel">
                            <div *ngIf="email.errors && isSubmitted" class="alert alert-danger validationError">
                                <div [hidden]="!email.errors?.['required']">
                                    El correo electrónico es obligatorio
                                </div>
                                <div [hidden]="!email.errors?.['email']">
                                    Debe ingresar un correo electrónico válido
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Campo Fecha de Nacimiento -->
                    <div class="form-group p-10 row">
                        <div class="col-sm-3">
                            <label for="birthDate" class="p-t-b-10">Fecha de Nacimiento<span class="requiredStar">*</span></label>
                        </div>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="birthDate" required [(ngModel)]="addProfessionalForm.birthDate" name="birthDate" #birthDate="ngModel">
                            <div *ngIf="birthDate.errors && isSubmitted" class="alert alert-danger validationError">
                                <div [hidden]="!birthDate.errors?.['required']">
                                    La fecha de nacimiento es obligatoria
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Botón Enviar -->
                <div class="table-footer">
                    <button class="btn btn-success" (click)="AddProfessional(professionalForm.form.valid)">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
