<div class="hero-section">
  <div class="hero-image">
      <img class="paw-image" src="assets/paw.png" alt="paw">
      <img class="dog-image" src="assets/dog.png" alt="dog">
  </div>
  <div class="hero-content">
      <div class="badge">Bienvenido</div>
      <h1 class="Pet">Pet Doctor</h1>
      <p>Amamos a las mascotas tanto como vos :)</p>
      <a href="#targetSection"> <div class="button-arrow-box">
        <div  class="button-arrow-container">
          <div class="button-arrow-left"></div>
          <div class="button-arrow-right"></div>
        </div>
      </div>
    </a>
  </div>

</div>


<div id="targetSection" style="margin-top: 120px;">
  <information class="info"></information>
</div>